:root {
  --body-bg: #242424;
  --grid-bg: #3d3d3d;
  --cell-dot-bg: #1f1f1f;
  --cell-beat-bg: #fdfdfd;
  --snake-body-bg: #2b796c;
  --snake-head-bg: #4fad9d;
}
* {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  background: var(--body-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#grid {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--grid-bg);
  padding: 10px;
  border-radius: 0.8rem;
  border: 2px solid var(--snake-body-bg);
  overflow: hidden;
}
#grid-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--body-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-overlay__countdown {
  color: var(--snake-body-bg);
  font-size: 12rem;
  font-weight: bold;
}
.grid__row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.row__cell {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row__cell--snake-body-cell {
  background: var(--snake-body-bg);
}
.row__cell--snake-head-cell {
  background: var(--snake-head-bg);
}
.cell__dot {
  width: 10px;
  height: 10px;
  background: var(--cell-dot-bg);
  border-radius: 50%;
}
.row__cell--beat-cell .cell__dot {
  background: var(--cell-beat-bg);
}

#record-pannel {
  display: none;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}
.record-pannel__title {
  color: var(--snake-head-bg);
  font-weight: bold;
  font-size: 1.8rem;
}
.record-pannel__title .title__value {
  font-size: 2.4rem;
}
.record-pannel__title .title__value--max {
  color: #d2122e;
}
